@import "~materialize-css/sass/materialize";

.mr-2 {
  margin-right: 2rem;
}

//.input-field input {
//    margin-top: 2rem !important;
//}

.nav-wrapper {
  padding: 0 1rem;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}